{% extends "base.html" %}
{% block head %}
    <style type="text/css">
      table{
          border-collapse: collapse;
          width: 100%;
          color: #006699;
          font-family: monospace;
          font-size: 20px;
          text-align: center;
      }
    th{
        background-color: #006699;
        color: white;
    }
    tr:nth-child(even){background-color: #f2f2f2}

    </style>
{% endblock %}
{% block body %}
    <h2>Worker Pool</h2>
    <div class="card">
      <div class="card-body">
         <td>
             <form action="{{url_for('increase_one_worker')}}" method="post"><input type="submit" value="New"></form>
             <table>
                 <tr>
                     <th>ID</th>
                     <th>Type</th>
                     <th>Availability Zone</th>
                     <th>Status</th>
                 </tr>
                 {% for instance in instances %}
                     <tr>
                         <td><a href="{{url_for('ec2_view',id=instance.id)}}">{{ instance.id }}</a></td>
                         <td>{{ instance.instance_type }}</td>
                         <td>{{ instance.placement['AvailabilityZone']}}</td>
                         <td>{{ instance.state['Name'] }}</td>
                     </tr>
    {% endfor %}
    </table>
            </td>
      </div>
    </div>




{% endblock %}
