{% extends "base.html" %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.axislabels.js') }}"></script>
    <script src="{{ url_for('static', filename='flot/jquery.flot.addTitle.js') }}"></script>
    <style type="text/css">
      table{
          border-collapse: collapse;
          width: 100%;
          color: #000000;
          font-family: monospace;
          font-size: 15px;
          text-align: left;
      }
    tr:nth-child(even){background-color: #f2f2f2}

    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">EC2 Instance Info</div>
            <div class="card-body">
                <table>
                    <tr><td>ID</td><td> {{ instance.id }}</td></tr>
                    <tr><td>Image AMI ID</td><td> {{ instance.image_id }}</td></tr>
                    <tr><td>Type</td><td>{{ instance.instance_type }}</td></tr>
                    <tr><td>Key Pair </td><td> {{ instance.key_name }}</td></tr>
                    <tr><td>Public IP Address</td><td>{{ instance.public_ip_address }}</td></tr>
                    <tr><td>Availability Zone</td><td>{{ instance.placement['AvailabilityZone']}}</td></tr>
                    <tr><td>State</td><td>{{ instance.state['Name'] }}</td></tr>
                </table>
                <div align="center"><h2>CPU</h2></div>
                <div align="center"><div id="cpu_plot" style="width:900px;height:400px;"></div></div>
                <div align="center"><h2>Network In</h2></div>
                <div align="center"><div align="center" id="net_in_plot" style="width:900px;height:400px"></div></div>
                <div align="center"><h2>Number of workers</h2></div>
                <div align="center"><div align="center" id="healthy_workers_plot" style="width:900px;height:400px"></div></div>

            </div>
        </div>
    </div>

    <script>

        var options_cpu = {
            series: {
                lines: { show: true },
                points: { show: true }
            },
            xaxis: {
                axisLabel: "Last 30 minutes",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 14,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 10
            },
            yaxis: {
                axisLabel: "CPU utilization (Percent)",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 14,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 3,
            },

        };

         var options_net = {
            series: {
                lines: { show: true },
                points: { show: true }
            },
            xaxis: {
                axisLabel: "Last 30 minutes",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 14,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 10
            },
             yaxis: {
                axisLabel: "HTTP requests per minute (Byte)",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 14,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 3,
            },
        };

          var options_workers = {
            series: {
                lines: { show: true },
                points: { show: true }
            },
            xaxis: {
                axisLabel: "Last 30 minutes",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 14,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 10
            },
             yaxis: {
                axisLabel: "Number of workers (Count)",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 14,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 3,
            },
        };


        $.plot($("#cpu_plot"), [ {{ cpu_stats }} ] , options_cpu);
        $.plot($("#net_in_plot"), [ {{ net_in_stats }} ] , options_net);
        $.plot($("#healthy_workers_plot"), [ {{ healthy_workers_states}} ] , options_workers);

    </script>

{% endblock %}